.bread-crumb {
    height          : 50px;
    background-color: white;
    box-shadow      : 0 0 15px #cdcdcd;
    border-radius   : 25px;
    line-height     : 50px;
    padding-right   : 20px;
    color           : #656565;
    font-size       : 15px;
}

.bread-crumb a {
    position   : relative;
    margin-left: 20px;
}

.bread-crumb a::before {
    content    : '';
    left       : 0;
    margin-left: -15px;
    width        : 0;
    height       : 0;
    border-top   : 10px solid transparent;
    border-right : 10px solid #555;
    border-bottom: 10px solid transparent;
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.bread-crumb a::after {
    content    : '';
    left       : 1px;
    margin-left: -15px;
    width        : 0;
    height       : 0;
    border-top   : 10px solid transparent;
    border-right : 10px solid #555;
    border-bottom: 10px solid transparent;
    position          : absolute;
    border-right-color: white;
    top               : 50%;
    transform         : translateY(-50%);
}