header {
    width           : 1230px;
    box-shadow      : 0 0 15px #cdcdcd;
    height          : 80px;
    border-radius   : 40px;
    display         : block;
    margin          : 20px auto;
    position        : relative;
    background-color: white;
}

.btn-search {
    width              : 55px;
    height             : 55px;
    border-radius      : 100%;
    box-shadow         : 0 0 10px #ff7fe8;
    background         : url(../img/Search-Icon.png), linear-gradient(45deg, #ff1dcc, #c500b5);
    position           : absolute;
    top                : 50%;
    left               : 15px;
    transform          : translateY(-50%);
    background-repeat  : no-repeat;
    background-position: center;
}

.btn-basket {
    width              : 55px;
    height             : 55px;
    border-radius      : 100%;
    box-shadow         : 0 0 10px #bcffa4;
    background         : url(../img/Basket-Icon.png);
    border             : 1px solid #06ec00;
    position           : absolute;
    top                : 50%;
    left               : 82px;
    transform          : translateY(-50%);
    background-repeat  : no-repeat;
    background-position: center;
}

.btn-register {
    width              : 156px;
    height             : 55px;
    border-radius      : 27.5px;
    box-shadow         : 0 0 10px rgba(30, 30, 255, 48%);
    background         : linear-gradient(45deg, #6a6aff, #1e1eff);
    position           : absolute;
    top                : 50%;
    left               : 152px;
    transform          : translateY(-50%);
    background-repeat  : no-repeat;
    background-position: center;
    text-align         : center;
    line-height        : 55px;
    color              : #fff;
}

.logo img {
    margin-top  : 30px;
    margin-right: 40px;
    float       : right;
}

.register-avatar-container {
    height  : 100%;
    float   : right;
    position: relative;
    width   : 100%;
}

.register-avatar-container>img {
    position     : absolute;
    top          : 50%;
    transform    : translateY(-50%);
    border-radius: 50%;
    right        : 10px;
}

.register-avatar-container>p {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
    right    : 45px;
}

.user-drop {
    display      : inline-block;
    width        : 156px;
    background   : white;
    box-shadow   : 0 0 5px #9f9f9f;
    border-radius: 10px;
    position     : absolute;
    z-index      : 1000;
    left         : 152px;
    top          : 65px;
    visibility   : hidden;
}

.user-drop>ul>li>a {
    padding: 7px;
    display: block;
    color  : #707070;
}

.user-drop>ul>li>a:hover {
    background-color: #c9c9c9;
    color           : #474747;
    padding-right   : 15px;
}

.user-drop>ul>li>a:first-child:hover {
    border-radius: 10px 10px 0 0;
}

.user-drop>ul>li>a:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.user-drop:hover,
.user-box-container:hover .user-drop {
    opacity   : 1 !important;
    visibility: visible !important;
}