.main-menu {
    float : right;
    margin: 25px 40px 25px 0px;
}

.main-menu>ul>li {
    float      : right;
    margin-left: 30px;
    position   : relative;
}

.main-menu ul li a {
    color    : #656565;
    font-size: 20px;
    padding  : 5px 10px;
    display  : block;
}

.main-menu ul li a:hover {
    border-radius: 8px;
    color        : #fff;
    box-shadow   : 0 0 10px rgba(30, 30, 255, 48%);
    background   : linear-gradient(45deg, #6a6aff, #1e1eff);
}

.main-menu ul li ul {
    width           : 240px;
    height          : auto;
    background-color: #fff;
    border-radius   : 5px;
    box-shadow      : 0 0 15px #d4d4d4;
    position        : absolute;
    visibility      : hidden;
    z-index         : 999;
}

.main-menu ul li ul li a {
    border-radius: 0px !important;
    font-size    : 15px;
    line-height  : 25px;
    border-bottom: 1px solid #f0f0f0;
}

.main-menu ul li:hover>ul {
    visibility: visible;
}

.main-menu ul li ul li {
    position: relative;
}

.main-menu ul li ul li ul {
    right   : 100%;
    top     : 0;
    position: absolute;
}

.dropdown-cart::before {
    content         : "";
    width           : 15px;
    height          : 15px;
    background-color: white;
    transform       : rotate(45deg);
    display         : block;
    top             : -7px;
    position        : absolute;
    left            : 93px;
    box-shadow      : 0 0 5px #404040;
    clip-path       : inset(-5px 1px 1px -9px);
}

.dropdown-cart {
    width           : 300px;
    box-shadow      : 0 0 5px #404040;
    background-color: white;
    position        : absolute;
    z-index         : 10;
    left            : 10px;
    top             : 79px;
    padding         : 5px;
    border-radius   : 10px;
    visibility      : hidden;
}

.dropdown-cart ul li {
    border-bottom : 1px solid #e5e5e5;
    margin-bottom : 5px;
    padding-bottom: 5px;
}

.dropdown-cart ul li a:nth-child(2) {
    position   : relative;
    display    : block;
    height     : 30px;
    line-height: 30px;
}

.dropdown-cart ul li a:nth-child(2)>img {
    position     : absolute;
    left         : 0;
    border-radius: 10px;
}

.dropdown-cart ul li a img {
    width : 30px;
    height: 30px;
}

.dropdown-cart ul li a:first-child {
    color           : red !important;
    background-color: red !important;
    border-radius   : 100% !important;
    width           : 20px !important;
    height          : 20px !important;
    font-size       : 0px !important;
    position        : relative;
    display         : block;
}

.dropdown-cart ul li a:first-child::after {
    content            : '';
    position           : absolute;
    width              : 10px;
    height             : 10px;
    background         : url('../icn/remove-20.png');
    background-position: center;
    background-size    : cover;
    left               : 50%;
    top                : 50%;
    transform          : translate(-50%, -50%);
}

.woocommerce-mini-cart__total.total {
    text-align: center;
}

.woocommerce-mini-cart__buttons.buttons>a:first-child {
    margin-top   : 5px;
    display      : block;
    right        : 0;
    background   : linear-gradient(90deg, #6a6aff, #1e1eff) !important;
    color        : white;
    border-radius: 5px;
    text-align   : center;
    font-family  : KalamehWeb !important;
    border       : none !important;
    height       : 30px;
    line-height  : 30px;
    text-align   : center;
    padding      : 0 5px;
}

.woocommerce-mini-cart__buttons.buttons>a:nth-child(2) {
    margin-top   : 5px;
    display      : block;
    left         : 0;
    background   : linear-gradient(90deg, #6af5ff, #1effc7) !important;
    color        : white;
    border-radius: 5px;
    text-align   : center;
    font-family  : KalamehWeb !important;
    border       : none !important;
    height       : 30px;
    line-height  : 30px;
    text-align   : center;
    padding      : 0 5px;
}

.basket-container:hover .dropdown-cart {
    opacity   : 1 !important;
    visibility: visible !important;
    width     : 300px;
}