.wc-block-components-product-metadata__description {
    display: none;
}

.wc-block-components-order-summary-item__individual-prices.price.wc-block-components-product-price {
    display   : block;
    font-size : 12px;
    margin-top: 5px;
    color     : #4d4d4d;
}

.wc-block-components-order-summary.wc-block-components-panel>div:first-child {
    margin-bottom: 15px;
    border-bottom: 1px dotted #d4d4d4;
}

.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-components-product-price__value {
    font-size: 10px;
    color    : #4d4d4d;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__quantity {
    border    : 1px solid #d4d4d4 !important;
    box-shadow: none !important;
    color     : #4d4d4d !important;
}

.wc-block-components-totals-coupon-link {
    text-align   : center;
    background   : linear-gradient(90deg, #ff9090, #ff4949) !important;
    border-radius: 10px;
    color        : white;
    width        : 100%;
    display      : inline-block;
}

.components-button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained {
    background   : linear-gradient(90deg, #5dac61, #0d940d) !important;
    color        : white;
    border-radius: 10px;
    text-align   : center;
    font-family  : KalamehWeb !important;
    border: none !important;
}

.components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    background   : linear-gradient(90deg, #6a6aff, #1e1eff) !important;
    color        : white;
    border-radius: 10px;
    text-align   : center;
    font-family  : KalamehWeb !important;
    border: none !important;
}