.post-head-image {
    width : 50%;
    float : right;
    height: 250px;
}

.post-head-image img {
    border-radius: 10px;
    width        : 100%;
    height       : 100%;
}

.post-head-data {
    float        : left;
    width        : calc(50% - 20px);
    padding-right: 20px;
    height       : 250px;
    position     : relative;
}

.post-head-data-category {
    color           : #3ab7fd;
    border-radius   : 3px;
    background-color: #acdffc;
    width           : auto;
    padding         : 0 10px 0 10px;
    height          : 20px;
    display         : inline-block;
    text-align      : center;
    line-height     : 20px;
    margin          : 10px 0;
}

.post-head-data-category a {
    color: #3ab7fd;
}

.post-head-data-title {
    font-size  : 20px;
    font-weight: bold;
    color      : #575757;
    margin     : 10px 0;
}

.post-head-data-meta-info {
    margin-top: 20px;
    bottom: 0px;
    position: absolute;
}

.post-head-data-meta-info>span {
    color      : #8d8d8d;
    font-size  : 16px;
    margin-left: 40px;
}

.post-head-data-commnet-count::before {
    background         : url('../img/post-meta-day-icon.png');
    content            : '';
    display            : inline-block;
    width              : 25px;
    height             : 25px;
    background-repeat  : no-repeat;
    background-position: center;
    vertical-align     : middle;
    margin-left        : 5px;
}

.post-head-data-publish-date::before {
    background         : url('../img/post-meta-calendar-icon.png');
    content            : '';
    width              : 25px;
    height             : 25px;
    background-position: center;
    background-repeat  : no-repeat;
    vertical-align     : middle;
    margin-left        : 5px;
    display            : inline-block;
}

.post-head-data-auther::before {
    content            : '';
    background         : url('../img/post-meta-author-icon.png');
    background-position: center;
    background-repeat  : no-repeat;
    display            : inline-block;
    width              : 25px;
    height             : 25px;
    vertical-align     : middle;
    margin-left        : 5px;
}

.post-inner-data {
    border-top: 2px solid #dddddd;
    margin-top: 20px;
}