.product-content {
    float     : right;
    margin-top: 20px;
    width     : 910px;
}

.product-title {
    color      : #2d2d2d;
    font-weight: bold;
    font-size  : 25px;
}

div .prodect-item {
    width              : 212px;
    /* height          : 310px; */
    border-radius      : 10px;
    background-color   : white;
    margin             : 10px 7.5px 10px 7.5px;
    float              : right;
    text-align         : center;
    box-shadow         : 0 0 5px #cfcfcf;
    margin-bottom      : 20px;
}

div .prodect-item img {
    width        : 192px;
    height       : 192px;
    margin       : 10px;
    border-radius: 10px;
}

.prodect-item>p {
    color     : #353535;
    text-align: center;
    width     : 80%;
    margin    : 8px auto 10px auto;
}

.prodect-item>a>span {
    color        : white;
    height       : 38px;
    width        : 165px;
    background   : linear-gradient(90deg, #6a6aff, #1e1eff);
    border-radius: 10px;
    line-height  : 38px;
    text-align   : center;
    display      : inline-block;
    box-shadow   : 0 0 5px #1e1eff;
    margin-bottom: 15px;
}

.category-content-price {
    color  : #ff6a6a;
    margin : 10px 0;
    display: block;
}

div .content-category-item {
    width           : 212px;
    height          : 330px;
    border-radius   : 10px;
    background-color: white;
    margin          : 10px 7.5px 10px 7.5px;
    float           : right;
    text-align      : center;
    box-shadow      : 0 0 5px #cfcfcf;
    margin-bottom   : 20px;
}

.product-content .navigation {
    text-align: center;
    direction : ltr;
}

.product-content #news-pagination {
    text-align      : center;
    background-color: white;
    display         : inline-block;
    height          : 50px;
    border-radius   : 25px;
    box-shadow      : 0 0 5px #d1d1d1;
}

.product-content #news-pagination li {
    display: inline-flex;
}

.product-content #news-pagination li a {
    width           : 40px;
    height          : 40px;
    border-radius   : 100%;
    background-color: white;
    box-shadow      : 0 0 5px #d1d1d1;
    font-size       : 20px;
    line-height     : 40px;
    margin          : 5px 5px;
}

.product-content #news-pagination li.active a {
    background-color: #6a6aff;
    box-shadow      : 0 0 5px #1e1eff;
    color           : white;
}