.product_title.entry-title {
    font-size     : 22px;
    font-weight   : 700;
    color         : #444444;
    border-bottom : 2px solid #9a9a9a;
    padding-bottom: 10px !important;
}

.woocommerce-product-details__short-description {
    color      : #444444;
    text-align : justify;
    line-height: 2;
}

.woocommerce-Price-amount.amount {
    color: #fd2d4f;
}

.summary.entry-summary .price>ins {
    text-decoration: none;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color     : #fd2d4f !important;
    text-align: center;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(2) {
    margin-right: 20px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    /* width        : calc(33% - 30px); */
    display      : inline-block;
    box-shadow   : 0 0 5px #e7e7e7;
    border-radius: 10px;
    margin-left  : 10px;
    margin-top   : 20px;
}

.woocommerce div.product div.images img {
    display      : block;
    width        : 100%;
    height       : auto;
    box-shadow   : 0 0 5px #e7e7e7;
    border-radius: 10px;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    text-align   : center;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float         : none;
    background    : linear-gradient(90deg, #6a6aff, #1e1eff);
    box-shadow    : 0 0 10px rgba(30, 30, 255, 48%);
    width         : 50%;
    height        : 58px;
    border-radius : 10px;
    margin        : 20px auto;
    font-family   : KalamehWeb;
    font-weight   : 400;
}

.tagged_as>a,
.posted_in>a {
    color: #6a6aff;
}

.onsale {
    background: linear-gradient(222deg, #f72121, #ffa6a6);
    box-shadow: 0 0 10px #ffa6a6;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border          : 1px solid #1e1eff;
    margin          : 5px 0px 5px 10px;
    border-radius   : 10px;
    background-color: white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #1e1eff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: linear-gradient(90deg, #6a6aff, #1e1eff);
    border    : none;
    color     : white;
    box-shadow: 0 0 5px rgba(30, 30, 255, 48%);
}

.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 2px solid #6a6aff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    display: none
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-right: 0;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    margin-top : 20px;
    margin-left: 10px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width     : calc(33% - 30px);
    float     : right;
    margin    : 20px 0 0 10px;
    list-style: none;
}

.woocommerce-Tabs-panel--description>h2,
.woocommerce-Tabs-panel--additional_information>h2,
.woocommerce-Reviews>div>h2,
.related.products>h2 {
    font-weight  : bold;
    font-size    : 20px;
    color        : #444444;
    margin-bottom: 10px;
}

/* comments */
.page-content p {
    color      : #8d8d8d;
    font-size  : 16px;
    text-align : justify;
    line-height: 1.5;
    margin-top : 20px;
}

.comment-form-comment textarea {
    width        : 100%;
    outline      : none;
    border       : 1px solid #d3d3d3;
    border-radius: 10px;
    padding      : 10px;
    font-family  : KalamehWeb !important;
}

.comment-form-comment textarea:focus {
    background-color: #FAFAFA;
    border          : 1px solid #cacaca;
}

.comment-form-comment label {
    display: inline-block;
}

.comment-form input[type=text],
.comment-form input[type=email] {
    width        : 100%;
    outline      : none;
    border       : 1px solid #d3d3d3;
    border-radius: 10px;
    padding      : 10px;
    font-family  : KalamehWeb !important;
}

.comment-form input[type=text]:focus {
    background-color: #FAFAFA;
    border          : 1px solid #cacaca;
}

.comment-form p:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: inline-block;
    width  : 49%;
}

.comment-form label {
    display   : inline-block;
    text-align: right !important;
}

.form-submit {
    width: 100% !important;
}

.form-submit input[type=submit] {
    border       : none !important;
    color        : white !important;
    height       : 38px !important;
    font-size    : 20px !important;
    width        : 100%;
    background   : linear-gradient(90deg, #6a6aff, #1e1eff) !important;
    border-radius: 10px !important;
    line-height  : 38px !important;
    text-align   : center;
    display      : inline-block !important;
    box-shadow   : 0 0 5px #1e1eff !important;
    margin-bottom: 15px !important;
    font-family  : KalamehWeb !important;
    padding      : 0px !important;
}

.comment-form-cookies-consent {
    display: block !important;
    width  : 100% !important;
}

/**/
ul.products.columns-4 li {
    width           : 212px !important;
    height          : 335px !important;
    margin          : 0 0 20px 20px !important;
    background-color: white;
    box-shadow      : 0 0 5px #404040;
    border-radius   : 10px;
    position        : relative;
}

ul.products.columns-4 li:nth-child(4n) {
    margin: 0 0 20px 0 !important;
}

ul.products.columns-4 li>a>img {
    width        : 202px !important;
    height       : 202px !important;
    border-radius: 10px;
    margin       : 5px !important;
}

.woocommerce ul.products li.first,
.woocommerce-page ul.products li.first {
    clear: none !important;
}

.woocommerce-loop-product__title {
    text-align: center;
    color     : #353535;
}

.price {
    text-align: center;
}

.price>del {
    text-decoration-color: #ff6a6a !important;
}

.woocommerce ul.products li.product .price ins {
    text-decoration: none !important;
    font-weight    : 400;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    position     : absolute;
    margin       : auto;
    bottom       : 5px;
    height       : 35px;
    width        : 165px;
    background   : linear-gradient(90deg, #6a6aff, #1e1eff) !important;
    color        : white;
    border-radius: 10px;
    right        : 23.5px;
    padding      : 0px !important;
    text-align   : center;
    line-height  : 35px;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    font-family   : 'KalamehWeb';
    border        : 1px solid #d4d4d4;
    padding       : 5px 10px;
    border-radius : 10px;
    color         : #4b4b4b;
    margin-top    : 10px;
}

.woocommerce .woocommerce-result-count {
    margin: 10px 0 1em;
    color : #4b4b4b;
}